@charset "UTF-8";

@font-face {
    font-family: Android;
    src: url(../fonts/idroid.otf) format(opentype);
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header>h1 {
    color: white;
    font-family: var(--fonte1);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    margin-bottom: 20px;
}

header>p {
    text-align: center;
    font-family: var(--fonte0);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 15px;
    text-align: left;
}

nav>a {
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.8s;
}

nav>a:hover {
    padding: 15px;
    background-color: var(--cor3);
    color: var(--cor5);

}

main {
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

p {
    margin: 15px 0px;
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: justify;
    text-indent: 10px;
}

main img {
    width: 100%;
}

.pequena {
    display: block;
    margin: auto;
}

#titulo {
    font-family: var(--fonte2);
    color: var(--cor5);
}

.subtitulo {
    font-size: 1.5em;
    font-family: var(--fonte2);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

.destaque {
    background-color: var(--cor1);
    color: var(--cor4);
    font-weight: bold;
}

a.destaque-link {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
}

a.destaque-link:hover {
    text-decoration: underline;
    color: var(--cor4);
    transition-duration: 0.8s;
}

a.destaque-link::after{
    content: '\1F517';
}

div.video {
    position: relative;
    background-color: var(--cor4);
    display: block;
    margin: auto;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video>iframe {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

aside>h3 {
    padding: 10px;
    margin: -10px -10px 0px -10px;
    text-indent: 5px;
    color: white;
    background-color: var(--cor4);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

aside>p {
    text-indent: 20px;
    text-align: justify;
}

ul {
    list-style: '\2714\00A0';
    columns: 2;
    list-style-position: inside;
}

li {
    text-align: justify;
}

footer {
    padding: 10px;
    background-color: var(--cor5);
    text-align: center;
    color: white;
}

footer a {
    font-family: var(--fonte0);
    font-weight: bold;
    color: white;
    text-decoration: none;
}